body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

h1 {
    color: red;
    justify-content: center;
    }

#display {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

button{
    width:10vw;
    align-self:center;
}